* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;
}

.container {
  width: clamp(1000px, 100%, 1000px);
  min-height: 100vh;

  background: hsl(0, 0%, 80%);
  color: #000;

  padding: 1rem;
}